swagger: '2.0'
info:
  title: Broadband APIs
  description: Braod band API for anonymous and logged in customer
  version: 1.0.0
host: api.vodafone.com
schemes:
  - http
basePath: /api/v1
produces:
  - application/json
paths:
  /broadband/availability/check :
    post:
      summary: check the availability checker for the braod band journey
      description: >-
        This service accepts address, calls the GSA and creates / update the journey with the service point information.
      operationId: COMM_001_AvailabilityChecker
      parameters:
        - name: availabilityCheckerRequest
          in: body
          description: Sends the availability check request 
          required: true
          schema:
            $ref: '#/definitions/AvailabilityCheckRequest'
      tags:
        - AvailabilityCheck
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AvailabilityCheckResponse'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
definitions:
  
  
  
    
  
    
  
  
      
  
  AvailabilityCheckResponse:
    type: object
    properties:
      journeyId:
        type: string
        description : 'Journey id of the broadband - Unique'
      installationAddress:
        $ref: '#/definitions/InstallationAddress'
      appointmentNeeded:
        type: boolean
        description: 'Whether the appointment is needed or not. If appointmenr needed flag is false, it means customer has existing line if it is true it means customer does not have existing line and should only take a new line option' 
      earliestAvailableDate:
        type: string
        description : 'The earliest available date when the service will be available'
      engineeringVisitCharge:
        type: number
        format : float
      lineSpeeds:
        $ref: '#/definitions/LineSpeeds'  
      classificationCode:
        type: array
        items:
          type: string 
  
  LineRef:
    type: object
    properties:
      lineIdentification:
        $ref: '#/definitions/LineIdentification'
  LineIdentification:
    type: object
    properties:
      fllandlineNumber:
        type: string
        description: 'The directory number currently associated with the copper pair'
      typeCode:
        type: string
        description: 'Flag that identifies the type of Business Customer'
      serviceClassificationCode:
        type: string
        description: 'Represents the type of Business service to query for service availability. This is optional field'  
      moveFromPostCode:
        type: string
        description: 'Specifies the post code from which the prospective customer is willing to move'
      installationAddress:
        $ref: '#/definitions/InstallationAddress'        
  AvailabilityCheckRequest:
    type: object
    properties:
      lineRef:
        $ref: '#/definitions/LineRef'
      journeyId:
        type: string
        description : 'Existing journey id, for logged in customer journey id will not be null else null' 
      classificationCode:
        type: array
        items:
          type: string  
  
  
  
  Identification:
    type: object
    properties:
      id:
        type: string
        description: 'This is the Wholesale address reference identifier that uniquely identifies the address in the Fixed Line or PostOffice system'
      contextId:
        type: string
  
  InstallationAddress:
    type: object
    properties:
      identification:
        $ref: '#/definitions/Identification'
      postCode:
        type: string
        description: 'The postcode of the prospective customer as per the Fixed Line system'
      houseName:
        type: string
        description: 'House Name'
      houseNumber:
        type: string
        description : 'House number'
      flatNumber:
        type: string
        description: 'flat number'
      streetName:
        type: string
        description : 'street name'
      town:
        type: string
        description : 'town'
      county:
        type: string
        description: 'county'
      country:
        type: string
        description: 'country'
      locality:
        type: string
        description : 'locality'
      citySubDivisionName:
        type: string
        description : 'city sub division code'
      moveTypeCode: 
        type: string
        description : 'Code identifying whether it is change of address scenario'
        
  
  
    
          
  
  
      
  
  
  
  LineSpeeds:
    type: object
    properties:
      maxDownSpeed:
        type: number
        format: double
        description : 'The maximum download speed offered
        (in kilobits per second [kbps])'
      minDownSpeed:
        type: number
        format: double
        description : 'The minimum download speed offered
        (in kilobits per second [kbps])'
      avgDownSpeed:
        type: number
        format: double
        description : 'The average download speed offered
        (in kilobits per second [kbps])'
      minGuaranteedDownSpeed:
        type: number
        format: double
        description : 'The minimum guaranteed download speed offered
        (in kilobits per second [kbps])'
      maxUpSpeed:
        type: number
        format: double
        description : 'The max  upload speed offered
        (in kilobits per second [kbps])'
      minUpSpeed:
        type: number
        format: double
        description : 'The min upload speed offered
        (in kilobits per second [kbps])'
      bandwidthMeasure:
        type: string  
        description : 'Indicates whether the best speed is predicted or actual'
        
  
          
        
        
          
        
        
        
    
  
        
  
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
      referenceId:
        type: string