swagger: '2.0'
info:
  title: Broadband APIs
  description: Braod band API for anonymous and logged in customer
  version: 1.0.0
host: api.vodafone.com
schemes:
  - http
basePath: /api/v1
produces:
  - application/json
paths:
  /broadband/availability/check :
    post:
      summary: check the availability checker for the braod band journey
      description: >-
        This service accepts address, calls the GSA and creates / update the journey with the service point information.
      operationId: COMM_001_AvailabilityChecker
      parameters:
        - name: availabilityCheckerRequest
          in: body
          description: Sends the availability check request 
          required: true
          schema:
            $ref: '#/definitions/AvailabilityCheckRequest'
      tags:
        - AvailabilityCheck
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AvailabilityCheckResponse'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /bundle:
    get:
      summary: Get the list of bundle(FLBB)  based on the filter criteria.
      description: >-
        The service gets the details of the bundles from solr based on the
        filter criteria in the response.
      operationId: PRDT_010-GetFlbbList
      parameters:
        - name: userType
          in: query
          description: >-
            To identify the User, the possible values are "consumer" or
            "business" for get bundle list and consumer , enterprise and soho
            for compatible plans .
          required: false
          type: string
        - name: offerCode
          in: query
          description: >-
            Offercode sets the pricing information based on the offercode sent,
            and gets the data from promotions API.
          required: false
          type: string
        - name: journeyType
          in: query
          description: >-
            Indicates the journeyType of the customer. For eg. upgrade,
            secondline, etc.
          required: false
          type: string
        - name: duration
          in: query
          description: bundles will be filter based on duration like 18 months or 24 months
          required: false
          type: string
        - name: classificationCode
          in: query
          description: >-
            Filter based on speed. Accepts single and comma seperated aswell Eg:
            Line Fibre with Speed 76,Line Fibre with Speed 38.
          required: false
          type: string
      tags:
        - Bundle
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FlbBundle'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'          
definitions:
  
  
  
    
  
    
  
  
      
  
  AvailabilityCheckResponse:
    type: object
    properties:
      journeyId:
        type: string
        description : 'Journey id of the broadband - Unique'
      installationAddress:
        $ref: '#/definitions/InstallationAddress'
      appointmentNeeded:
        type: boolean
        description: 'Whether the appointment is needed or not. If appointmenr needed flag is false, it means customer has existing line if it is true it means customer does not have existing line and should only take a new line option' 
      earliestAvailableDate:
        type: string
        description : 'The earliest available date when the service will be available'
      engineeringVisitCharge:
        type: number
        format : float
      lineSpeeds:
        $ref: '#/definitions/LineSpeeds'  
      classificationCode:
        type: array
        items:
          type: string 
  
  LineRef:
    type: object
    properties:
      lineIdentification:
        $ref: '#/definitions/LineIdentification'
  LineIdentification:
    type: object
    properties:
      fllandlineNumber:
        type: string
        description: 'The directory number currently associated with the copper pair'
      typeCode:
        type: string
        description: 'Flag that identifies the type of Business Customer'
      serviceClassificationCode:
        type: string
        description: 'Represents the type of Business service to query for service availability. This is optional field'  
      moveFromPostCode:
        type: string
        description: 'Specifies the post code from which the prospective customer is willing to move'
      installationAddress:
        $ref: '#/definitions/InstallationAddress'        
  AvailabilityCheckRequest:
    type: object
    properties:
      lineRef:
        $ref: '#/definitions/LineRef'
      journeyId:
        type: string
        description : 'Existing journey id, for logged in customer journey id will not be null else null' 
      classificationCode:
        type: array
        items:
          type: string  
  
  
  
  Identification:
    type: object
    properties:
      id:
        type: string
        description: 'This is the Wholesale address reference identifier that uniquely identifies the address in the Fixed Line or PostOffice system'
      contextId:
        type: string
  
  InstallationAddress:
    type: object
    properties:
      identification:
        $ref: '#/definitions/Identification'
      postCode:
        type: string
        description: 'The postcode of the prospective customer as per the Fixed Line system'
      houseName:
        type: string
        description: 'House Name'
      houseNumber:
        type: string
        description : 'House number'
      flatNumber:
        type: string
        description: 'flat number'
      streetName:
        type: string
        description : 'street name'
      town:
        type: string
        description : 'town'
      county:
        type: string
        description: 'county'
      country:
        type: string
        description: 'country'
      locality:
        type: string
        description : 'locality'
      citySubDivisionName:
        type: string
        description : 'city sub division code'
      moveTypeCode: 
        type: string
        description : 'Code identifying whether it is change of address scenario'
        
  
  
    
          
  
  
      
  
  
  
  LineSpeeds:
    type: object
    properties:
      maxDownSpeed:
        type: number
        format: double
        description : 'The maximum download speed offered
        (in kilobits per second [kbps])'
      minDownSpeed:
        type: number
        format: double
        description : 'The minimum download speed offered
        (in kilobits per second [kbps])'
      avgDownSpeed:
        type: number
        format: double
        description : 'The average download speed offered
        (in kilobits per second [kbps])'
      minGuaranteedDownSpeed:
        type: number
        format: double
        description : 'The minimum guaranteed download speed offered
        (in kilobits per second [kbps])'
      maxUpSpeed:
        type: number
        format: double
        description : 'The max  upload speed offered
        (in kilobits per second [kbps])'
      minUpSpeed:
        type: number
        format: double
        description : 'The min upload speed offered
        (in kilobits per second [kbps])'
      bandwidthMeasure:
        type: string  
        description : 'Indicates whether the best speed is predicted or actual'
        
  FlbBundle:
    type: object
    properties:
      skuId:
        type: string
        description: Unique bundle id as available from the product catalogue
      name:
        type: string
        description: Name of the bundle as provided in the product catalogue
      description:
        type: string
        description: Description of the bundle as provided in the product catalogue
      bundleName:
        type: string
        description: Name of the bundle as provided in the merchandising file
      bundleDescription:
        type: string
        description: Description of the bundle as provided in the merchandising file
      speed:
        type: string
        description: Speed of the bundle as provided in the merchandising file
      minSpeed:
        type: string
        description: Min Speed of the bundle as provided in the merchandising file
      maxSpeed:
        type: string
        description: Max Speed of the bundle as provided in the merchandising file
      usage:
        type: string
        description: Usage of the bundle as provided in the merchandising file
      classificationCode:
        type: string
        description: ClassificationCode of the Flb bundle as provided in the Product catalogue   
      commitmentPeriod:
        type: string
        description: Commitment period of the bundle
      planCoupleId:
        type: string
        description: PlanID of the Couple Plan
      planCoupleFlag:
        type: boolean
        description: 'Indicate whether this plan is to be coupled or not True, False.'
      planCoupleLabel:
        type: string
        description: Message needs to be build based on data difference and cost logic.
      productName:
        type: string
        description: Name of the Product(Router) as provided in the product catalogue
      productDescription:
        type: string
        description: >-
          Description of the Product(Router) as provided in the product
          catalogue
      merchandisingMedia:
        type: array
        items:
          $ref: '#/definitions/MediaLink'
      priceInfo:
        $ref: '#/definitions/PriceForBundleAndHardware'
  MediaLink:
    type: object
    properties:
      id:
        type: string
        description: >-
          Unique id given for this link which provide a reference for UI to
          place this on the screen
      value:
        type: string
        description: URL Link from the content site for the media
      type:
        type: string
        description: Will provide UI information on the type of the link (like URL)
      priority:
        type: integer
        description: priority of the media link
      packageType:
        type: array
        description: List of packageTypes available for the MediaLink
        items:
          type: string      
  PriceForBundleAndHardware:
    type: object
    properties:
      bundlePrice:
        $ref: '#/definitions/BundlePrice'
      hardwarePrice:
        $ref: '#/definitions/HardwarePrice'
      oneOffPrice:
        $ref: '#/definitions/Price'
      oneOffDiscountPrice:
        $ref: '#/definitions/Price'
      monthlyPrice:
        $ref: '#/definitions/Price'
      monthlyDiscountPrice:
        $ref: '#/definitions/Price'
      stepPrices:
        type: array
        items:
          $ref: '#/definitions/StepPricingInfo'
  BundlePrice:
    type: object
    properties:
      bundleId:
        type: string
        description: Bundle id of the price to be calculated
      monthlyPrice:
        $ref: '#/definitions/Price'
      monthlyDiscountPrice:
        $ref: '#/definitions/Price'
      merchandisingPromotions:
        $ref: '#/definitions/MerchandisingPromotion'
  HardwarePrice:
    type: object
    properties:
      hardwareId:
        type: string
        description: Hardware id of the price to be calculated
      oneOffPrice:
        $ref: '#/definitions/Price'
      oneOffDiscountPrice:
        $ref: '#/definitions/Price'
      merchandisingPromotions:
        type: array
        items:
          $ref: '#/definitions/MerchandisingPromotion'
        description: Merchandising promotions applicable for the bundle
  StepPricingInfo:
    type: object
    properties:
      sequence:
        type: string
        description: Sequence no of the line item
      oneOffPrice:
        $ref: '#/definitions/Price'
      monthlyPrice:
        $ref: '#/definitions/Price'
      duration:
        $ref: '#/definitions/Duration'
      discountSkuIds:
        description: List of applicable discount sku Ids for this duration
        type: array
        items:
          type: string
          format: uuid
  Duration:
    type: object
    properties:
      uom:
        type: string
        description: Unit of measurement for duration value
      value:
        type: string
        description: Duration value
  MerchandisingPromotion:
    type: object
    properties:
      tag:
        type: string
        description: Tag value of the merchandising promotion
      label:
        type: string
        description: Label value of the merchandising promotion
      discountId:
        type: string
        description: 'Discount skud Id, if applicable'
      description:
        type: string
        description: 'Description , if applicable'
      mpType:
        type: string
        description: 'Promotion type , if applicable'
      priceEstablishedLabel:
        type: string
        description: 'PriceEstablishedLable , if applicable'
      priority:
        type: integer
        description: priority of the merchandising promotion
      packageType:
        type: array
        description: List of packageTypes available for the promotion
        items:
          type: string
      footNotes:
        type: array
        description: >-
          List of firendly Names which will uniquely identify terms and
          conditions configured for the promotion in WCS CMS. The friendlynames
          are mentioned in MEF file.
        items:
          type: string
      promotionMedia:
        type: string
        description: Media URLs configured in MEF for promotions like entertainment packs
  Price:
    type: object
    properties:
      gross:
        type: string
        description: Gross value of the item
      net:
        type: string
        description: Net value of the item
      vat:
        type: string
        description: VAT component of the item price        

  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
      referenceId:
        type: string